@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projects/workflows-creator/src/styles.scss (1) ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);

@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';

@font-face {
  font-family: 'icomoon';
  src: url('icomoon.ttf?n7v7vk') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow_down:before {
  content: '\eb79';
}
.Search:before {
  content: '\eae0';
}
.close:before {
  content: '\e926';
}
